<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Invoice">
    <meta name="pdfkit-page-size" content="Legal"/>
    <meta name="pdfkit-orientation" content="Portrait"/>

    {% if style == "Milligram" %}
    <!-- Milligram  CSS : https://milligram.io -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    {% else %}
    <!-- pure HTML -->
    {% endif %}


    <title>Timesheet</title>
</head>

<body>
  <h1>Timesheet {{ timesheet.title }}</h1>

  <aside>
      Client: {{ timesheet.project.client.name }}<br>
      Project: {{ timesheet.project.title}}<br>
      Period: {{ timesheet.period }}<br>
      Comment: {{ timesheet.comment }}
    </p>
  </aside>

  <dl id="informations">
    <dt>Date</dt>
    <dd>{{ timesheet.date }}</dd>
  </dl>

  <table>
    <thead>
      <tr>
        <th>Begin</th>
        <th>End</th>
        <th>Duration</th>
        <th>Description</th>

      </tr>
    </thead>
    <tbody>
      {% for item in timesheet.items %}
      <tr>
        <td>{{ item.begin }}</td>
        <td>{{ item.end }}</td>
        <td>{{ item.duration }}</td>
        <td>{{ item.description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <table>
    <tbody>
      <tr>
        <th><b>Total</b></th>
        <td>{{ timesheet.total | as_hours }} hours</td>
      </tr>
    </tbody>
  </table>


</body>
<footer>
  <table>
    <tbody>
      <tr>
        <td>
          {{ user.name }}<br>
          {{ user.subtitle }}<br>
          {{ user.website }}
        </td>
        <td>
          {{ user.e_mail }}<br>
          {{ user.phone_number }}
        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
</footer>
</html>
