<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Invoice No. {{ invoice.number }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if style == "anvil" %}
  <link rel="stylesheet" href="./web/modern-normalize.css">
  <link rel="stylesheet" href="./web/web-base.css">
  <link rel="stylesheet" href="./invoice.css">
  <!-- <script type="text/javascript" src="./web/scripts.js"></script> -->
  {% else %}
  <!-- pure HTML -->
  {% endif %}
</head>
<body>

<div class="web-container">

  <div class="page-container">
    <span class="page"></span>
    <span class="pages"></span>
  </div>

  {% if user.logo %}
  <div class="logo-container">
    <img
      style="height: 18px"
      src="https://app.useanvil.com/img/email-logo-black.png"
    >
  </div>
  {% endif %}


  <table class="invoice-info-container">
    <tr>
      <td rowspan="2" class="client-name">
        {{ invoice.contract.client.name }}<br>
        c/o {{ invoice.contract.client.invoicing_contact.name}}<br>
        {{ invoice.contract.client.invoicing_contact.address.html }}
      </td>
      <td>
        <big>{{ user.name }}</big><br>
        {{ user.subtitle }}<br>
        <br>
        {{ user.address.html }}
        <br>
        <br>
        <span>{{ user.email}}</span><br>
        <span>{{ user.phone_number }}</span><br>
        <span>{{ user.website }}</span>
      </td>
    </tr>
    <tr>
      <td>

      </td>
    </tr>
    <tr>
      <td>

      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        <br>
       <big>Invoice Date: <strong>{{ invoice.date }}</strong></big> <br>
       <big>Invoice Number: <strong>{{ invoice.number }}<big></big></strong>
      </td>
      <td>
      </td>
    </tr>
  </table>


  <table class="line-items-container">
    <thead>
      <tr>
        <th class="heading-description">Date</th>
        <th class="heading-description">Description</th>
        <th class="heading-quantity">Qty</th>
        <th class="heading-quantity">Unit</th>
        <th class="heading-price">Unit Price</th>
        <th class="heading-price">VAT%</th>
        <th class="heading-subtotal">Subtotal</th>
      </tr>
    </thead>
    <tbody>
      {% for item in invoice.items %}
      <tr>
        <td>{{ item.start_date }} -  {{ item.end_date }}</td>
        <td>{{ item.description }}</td>
        <td class="right">{{ item.quantity }}</td>
        <td class="right">{{ item.unit }}</td>
        <td class="right">{{ item.unit_price | as_currency}} €</td>
        <td class="right">{{ item.VAT_rate | as_percentage }}</td>
        <td class="right">{{ item.subtotal | as_currency }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


  <table class="line-items-container has-bottom-border">
    <thead>
      <tr>
        <th>Payment Info</th>
        <th>Due By</th>
        <th>Total VAT</th>
        <th>Total Due</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="payment-info">
          <div>
            IBAN: <strong>{{ user.bank_account.IBAN }}</strong><br>
          </div>
        </td>
        <td class="bold">{{ invoice.due_date }}</td>
        <td>{{ invoice.VAT_total | as_currency }}</td>
        <td class="bold">{{ invoice.total | as_currency }}</td>
      </tr>
    </tbody>
  </table>

  <div>
    <p>
      <br>
    <span>Thank you for your business</span>
   </p>
    <br>
    <br>
    <hr align="left" width="25%">
    {{ user.name }}
  </div>

  <div class="footer">
    <div class="footer-info">
      <span>IBAN: {{ user.bank_account.IBAN }} </span> |
      <span>BIC: {{ user.bank_account.BIC  }}</span> |
      <span>VAT No: {{ user.VAT_number }}</span>
    </div>
  </div>


</div>


</body>
</html>
