<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Invoice No. {{ invoice.number }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if style == "anvil" %}
  <link rel="stylesheet" href="./web/modern-normalize.css">
  <link rel="stylesheet" href="./web/web-base.css">
  <link rel="stylesheet" href="./invoice.css">
  <!-- <script type="text/javascript" src="./web/scripts.js"></script> -->
  {% else %}
  <!-- pure HTML -->
  {% endif %}
</head>
<body>

<div class="web-container">

  <div class="page-container">
    Page
    <span class="page"></span>
    of
    <span class="pages"></span>
  </div>

  {% if user.logo %}
  <div class="logo-container">
    <img
      style="height: 18px"
      src="https://app.useanvil.com/img/email-logo-black.png"
    >
  </div>
  {% endif %}


  <table class="invoice-info-container">
    <tr>
      <td rowspan="2" class="client-name">
        {{ invoice.contract.client.invoicing_contact.name}}
      </td>
      <td>
        {{ user.name }}
      </td>
    </tr>
    <tr>
      <td>
        {{ user.address.street }} {{ user.address.number }}
      </td>
    </tr>
    <tr>
      <td>
        Invoice Date: <strong>{{ invoice.date }}</strong>
      </td>
      <td>
        {{ user.address.postal_code }} {{ user.address.city}}
      </td>
    </tr>
    <tr>
      <td>
        Invoice Number: <strong>{{ invoice.number }}</strong>
      </td>
      <td>
        {{ user.e_mail}}
      </td>
    </tr>
  </table>


  <table class="line-items-container">
    <thead>
      <tr>
        <th class="heading-description">Date</th>
        <th class="heading-description">Description</th>
        <th class="heading-quantity">Qty</th>
        <th class="heading-quantity">Unit</th>
        <th class="heading-price">Unit Price</th>
        <th class="heading-price">VAT%</th>
        <th class="heading-subtotal">Subtotal</th>
      </tr>
    </thead>
    <tbody>
      {% for item in invoice.items %}
      <tr>
        <td>{{ item.date }}</td>
        <td>{{ item.description }}</td>
        <td class="right">{{ item.quantity }}</td>
        <td class="right">{{ item.unit }}</td>
        <td class="right">{{ item.unit_price | as_currency}} €</td>
        <td class="right">{{ item.VAT_rate | as_percentage }}</td>
        <td class="right">{{ item.subtotal | as_currency }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


  <table class="line-items-container has-bottom-border">
    <thead>
      <tr>
        <th>Payment Info</th>
        <th>Due By</th>
        <th>Total VAT</th>
        <th>Total Due</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="payment-info">
          <div>
            Account No: <strong>{{ user.bank_account.IBAN }}</strong>
          </div>
        </td>
        <td class="bold">{{ invoice.due_date }}</td>
        <td>{{ invoice.VAT_total | as_currency }}</td>
        <td class="bold">{{ invoice.total | as_currency }}</td>
      </tr>
    </tbody>
  </table>

  <div class="footer">
    <div class="footer-info">
      <span>{{ user.e_mail}}</span> |
      <span>{{ user.phone_number }}</span> |
      <span>{{ user.website }}</span>
    </div>
    <div class="footer-thanks">
      <span>Thank you!</span>
    </div>
  </div>


</div>


</body>
</html>
